#CONFIGURAÇÕES BANCO DE DADOS
    PSTG_HOST=postgres
    PSTG_DATABASE=quasarbet_db
    PSTG_USER=admin
    PSTG_PASSWORD=123

#DIRETORIO PROJETO
    DIR_BACK=./projeto/quasarbet-api
    DIR_FRONT=./projeto/quasarbet-front

# GIT
    GIT_USER=user
    GIT_TOKEN=pass

#OUTRAS CFGS
