#CONFIGURAÇÕES BANCO DE DADOS
    PSTG_HOST=postgres-db
    PSTG_PORT=5432
    PSTG_DATABASE=databate
    PSTG_USER=user
    PSTG_PASSWORD=pass

#DIRETORIO PROJETO
    DIR_API=../projeto/...
    DIR_WEB=../projeto/...

#SMTP (EMAIL)
    SMTP_HOST=smtp.mail.com
    SMTP_PORT=587
    SMTP_USERNAME=contato@mail.com
    SMTP_PASSWORD=abcd efgh ijkl mnop

#URLS
    FRONTEND_BASE_URL=http://localhost:3000

#TOKENS
    TOKEN_EMAIL_CONFIRM_MINUTES=60
    TOKEN_PASSWORD_RESET_MINUTES=60

# GIT
    GIT_USER=user
    GIT_TOKEN=pass

#OUTRAS CFGS