#CONFIGURAÇÕES BANCO DE DADOS
    MYSQL_HOST=mysql
    MYSQL_PORT=3306
    MYSQL_DATABASE=quasarbet_db
    MYSQL_USER=admin
    MYSQL_PASSWORD=pass
    MYSQL_ROOT_PASSWORD=root_pass

#DIRETORIO PROJETO
    DIR_BACK=./projeto/quasarbet-api
    DIR_FRONT=./projeto/quasarbet-front

# GIT
    GIT_USER=user
    GIT_TOKEN=pass

#OUTRAS CFGS
