[client] 
# Define o charset padrão para o cliente MySQL / latin1 é o padrão ISO-8859-1 
default-character-set = utf8mb4

[mysql] 
# Define o charset padrão para o cliente MySQL / latin1 é o padrão ISO-8859-1 
default-character-set = utf8mb4

[mysqld] 
# Define a collation padrão do servidor. 
collation-server = utf8mb4_0900_ai_ci

# Charset padrão do servidor. 
character-set-server = utf8mb4

# Executa esse comando sempre que um usuário se conecta, definindo charset da sessão. 
init_connect = 'SET NAMES utf8mb4'

# Define fuso horário padrão do servidor.
default-time-zone = 'America/Sao_Paulo'

# Define modo SQL, controlando comportamento de erros.
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY

# Segurança básica
skip-name-resolve

# Faz o MySQL tratar nomes de tabelas como minúsculas.
lower_case_table_names = 1

# Define o motor de armazenamento padrão.
default_storage_engine = InnoDB

# Define o motor de armazenamento padrão para tabelas temporárias
default_tmp_storage_engine = InnoDB

# Memória InnoDB
innodb_buffer_pool_size = 512M
innodb_buffer_pool_instances = 1
innodb_redo_log_capacity = 268435456
max_connections = 200
max_allowed_packet = 64M

# Ativa SSL no servidor. 
#ssl = 0

# Cache
host_cache_size = 0